.jumbotron {
    margin-top: 50px;
    background-color: #1DD36A ;
}

h1 {
    color: white
}
a { 
    color:  white;
}
.body-link {
    color: blue;
}

.breadcrumb {
    background-color: white;
}
nav {
    background-color: gray;
    color: white;
}
footer {
    margin-top: 10%;
    color:  white;
    padding: 10px 10px 0 10px;
    background-color: gray;
    margin-bottom: 0px;
}


.card-hotel {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 15px;
}

.btn-reserva {
    width: 100%;
    
}
.btn-search {
    width: 100%;
}

.form-control {
    width: 100%;
}

.iconos {
    padding-right: 10px;
}

.fa-star {
    color: goldenrod;
}