.jumbotron {
    background-color: #1DD36A ;
}

footer {
    color:  white;
    padding: 10px 10px 0 10px;
    background-color: gray;
    margin-bottom: 0px;
}
a { 
    color:  white;
}

.card-hotel {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
}

.btn-reserva {
    width: 100%;
    
}

